@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* font-family: 'Gowun Dodum', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
/* font-family: 'Song Myung', serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
/* font-family: 'IBM Plex Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
/* font-family: 'Noto Serif KR', serif; */

* {
    font-family: 'Gowun Dodum', sans-serif;
}

.main {
    margin: 100px auto 0px auto;
    width: 500px;
}

.date1 {
    font-family: 'Song Myung', serif;

    height: 180px;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    padding-left: 20px;
    border-left: 1px solid black;
}

.img1 {
    background-image: url('https://img.freepik.com/free-vector/illustrated-wedding-couple-theme_23-2148467743.jpg?w=740&t=st=1701569161~exp=1701569761~hmac=80983f2d39ca264618e49abadf31c4b4de70e424048a426825cae84240683b62');
    background-position: center;
    background-size: cover;

    width: 500px;
    height: 550px;
}

.info1 {
    text-align: right;
    font-size: 23px;
    border-bottom: 1px solid black;
    padding-bottom: 150px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.ment {
    text-align: center;
    font-size: 25px;
    margin-bottom: 100px;
}

.img2 {
    background-image: url('https://cdn.pixabay.com/photo/2020/09/09/02/12/smearing-5556288_1280.jpg');
    background-position: center;
    background-size: cover;

    height: 170px;
    /* class main의 500px 보다 넓게 width 설정하고 싶은데 실패*/

    color: white;
    font-weight: bold;
    font-size: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_total {
    margin: 60px auto 60px auto;
}

.contact {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    padding-right: 10px;

    /* 아이콘 https://icons.getbootstrap.com/?q=phone */
}

.contact>button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.contact>p {
    margin: 0px 40px 0px 30px;
}

.contact>button {
    margin-right: 20px;
}

.greybox {
    background-color: rgb(231, 229, 229);
    height: 50px;
    font-size: 20px;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table1 {
    margin: 40px 40px 40px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-weight: bold;
}

.table1 button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.table1 td {
    text-align: center;
    padding: 10px;
    padding-right: 45px;
}

.table1 span {
    font-size: 20px;
    color: grey;
}

.img3 {
    height: 400px;
    width: 400px;
    margin: 60px auto 100px auto;

    background-image: url('https://velog.velcdn.com/images/innes_kwak/post/ac70e5a6-dd25-42bb-a48d-33a34e865bcd/image.png');
    background-position: center;
    background-size: cover;
}

.bye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.bye table {
    font-size: 25px;
    margin: 30px auto 60px auto;
}

.bye p {
    color: rgb(209, 199, 199);
    font-size: 30px;
}

.live {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid black;
}

.live button {
    width: 400px;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;
    margin-bottom: 150px;
}

.map p {
    margin: 30px auto 60px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.mapinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 500px;
    height: 170px;

    font-size: 25px;
    background-color: rgb(243, 242, 242);
}

.mapinfo button {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.mapImg {
    width: 500px;
    height: 400px;

    background-image: url('https://t1.daumcdn.net/roughmap/imgmap/e4a136bdc0a737dd8c6a0812eebdb5fa1bfe55660e458c000633c51c83b13def');
    background-position: center;
    background-size: cover;
}

.mapbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;

    background-color: rgb(243, 242, 242);
}

.mapbtn p {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.mapbtn button {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.etcinfo {
    padding: 20px 0px 30px 0px;
}

.etcinfo dl {
    border-bottom: 1px solid rgb(213, 212, 212);
    padding: 20px;
}

.etcinfo dt {
    font-weight: bold;
    font-size: 25px;
}

.etcinfo dd {
    color: grey;
    font-size: 23px;
}

.sendheart {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.sendheart dt {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

.sendheart dd {
    color: grey;
    font-size: 25px;
}

.sendheart2 {
    font-size: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sendheart3 {
    font-size: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sendheart2 button {
    font-size: 25px;
    width: 300px;
    height: 70px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50px;
}

.sendheart3 button {
    font-size: 25px;
    width: 300px;
    height: 70px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50px;
}

.visit {
    text-align: center;
    padding-bottom: 50px;
}

.visit dt {
    font-size: 25px;
    font-weight: bold;
}

.visit dd {
    font-size: 20px;
    color: grey;
}

.visit button {
    width: 400px;
    height: 80px;
    border-radius: 50px;
    font-size: 25px;
}

.msgbox {
    background-color: rgb(244, 243, 243);
    text-align: center;
    padding: 20px 20px 50px 20px;
}

.msgbox dl {
    border-top: 1px solid black;
    padding-top: 30px;
    margin: 50px 60px 50px 60px;
}

.msgbox dt {
    font-size: 25px;
    font-weight: bold;
}

.msgbox dd {
    color: grey;
    font-size: 20px;
}

.msgbox button {
    width: 450px;
    height: 60px;
    font-size: 23px;
}

.msginbox {
    margin-bottom: 50px;
    display: grid;
    column-gap: 5px;
    row-gap: 1px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 50%);
}

.a {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.b {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.c {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}
.share {
    background-color: rgb(59, 59, 59);
    padding-top: 30px;
    height: 200px;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 20px;
    color: white;
}
.share1 {
    margin-right: 20px;
}
.share button {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-bottom: 5px;
}
.copyright {
    background-color: rgb(59, 59, 59);
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: grey;
    font-family: 'Abril Fatface', serif;
    font-size: 20px;
}
